-- 菜单SQL
INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
    VALUES ('1', '${comments}', 'generator/${pathName}.html', NULL, '1', 'fa fa-file-code-o', '6');

-- 按钮父菜单ID
-- set @parentId = @@identity;

-- 菜单对应按钮SQL
-- INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
--     SELECT @parentId, '查看', null, '${pathName}:list,${pathName}:info', '2', null, '6';
-- INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
--     SELECT @parentId, '新增', null, '${pathName}:save', '2', null, '6';
-- INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
--     SELECT @parentId, '修改', null, '${pathName}:update', '2', null, '6';
-- INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
--     SELECT @parentId, '删除', null, '${pathName}:delete', '2', null, '6';

    
    -- sven 修改 针对oracle
declare
  m_num number;
begin
  SELECT (LAST_NUMBER-1)INTO m_num  from USER_SEQUENCES where SEQUENCE_NAME='SEQU_SYS_MENU';

	-- 菜单对应按钮SQL
INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
    VALUES(m_num, '查看', null, '${pathName}:list,${pathName}:info', '2', null, '6');
INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
    VALUES(m_num, '新增', null, '${pathName}:save', '2', null, '6');
INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
    VALUES(m_num, '修改', null, '${pathName}:update', '2', null, '6');
INSERT INTO sys_menu (parent_id, name, url, perms, type, icon, order_num)
    VALUES(m_num, '删除', null, '${pathName}:delete', '2', null, '6');
end;